<aside class="offcanvas offcanvas-start offcanvas-width" tabindex="-1" id="sideBar" aria-labelledby="sideBarLabel">
    <div class="offcanvas-header">
        <button routerLink="/home" class="btn userName" ><i class="fa-solid fa-user"></i>{{userName}}</button>
        <!-- <h5 class="offcanvas-title" id="sideBarLabel">{{username}}!</h5> -->
        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark fs-5"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <a class="btn sideBar-nav-links" data-bs-dismiss="offcanvas" routerLink="/home">Home</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="userRole === 1" data-bs-dismiss="offcanvas"
            routerLink="/userMaster">User Master</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="userRole === 1" data-bs-dismiss="offcanvas"
            routerLink="/roleMaster">Role Master</a>
        <a class="btn sideBar-nav-links mt-2" *ngIf="userRole === 1" data-bs-dismiss="offcanvas"
            routerLink="/companyMaster">Company Master</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas"
            routerLink="/invoice">Invoice</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas" routerLink="/product">Product</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas"
            routerLink="/subContractor">SubContractor</a>
        <a class="btn sideBar-nav-links mt-2" data-bs-dismiss="offcanvas" routerLink="/payment">payment</a>
    </div>
</aside>