<h2 class="pt-4 fs-1">Product</h2>

<div class="pt-md-5 pt-3 px-md-5 px-3 pb-2">
    <button data-bs-toggle="modal" data-bs-target="#product-modal" class="add-btn btn btn-outline-primary"
    (click)="addProductGetDto()">Add</button>
</div>
<app-table [data]="data" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
</app-table>

<ng-template #actionTemplateRef let-row>
    <i class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#product-modal"
    (click)="editProductGetDto(row)"></i>
</ng-template>

<div class="modal fade" [formGroup]="productForm" id="product-modal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 *ngIf="modalMode === 'edit'" style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Edit</h1>
                <h1 *ngIf="modalMode === 'add'" style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Add</h1>
                <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="description" class="mb-1">Description <span style="color: red;">*</span>
                        <span *ngIf="
                    this.productForm.get('R_description')?.hasError('required') &&
                    (this.productForm.get('R_description')?.dirty ||
                      this.productForm.get('R_description')?.touched)
                  " style="color: red">Required</span>
                    </label>
                    <input type="text" id="description" class="form-control" formControlName="R_description" placeholder="Description">
                </div>
                <div class="mb-3">
                    <label for="unitPrice" class="mb-1">Unit Price <span style="color: red;">*</span>
                        <span *ngIf="
                    this.productForm.get('R_unitPrice')?.hasError('required') &&
                    (this.productForm.get('R_unitPrice')?.dirty ||
                      this.productForm.get('R_unitPrice')?.touched)
                  " style="color: red">Required</span>
                    </label>
                    <input type="text" id="unitPrice" class="form-control" formControlName="R_unitPrice" placeholder="Unit Price">
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn btn btn-outline-primary" type="button"
                    (click)="saveProductGetDto()">Save</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close" type="reset"
                    (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>